.para{
	width: 500px;
	height:300px;
}
ul li {
	list-style:none;
}
textarea{
	width:500px;
	height: 200px;
}
#result{
	padding: 5px;
	border:solid black 2px;
}
li#show{
	display: none;
}
#keyword{
	display: none;
}
#sel-textarea{
	width: 150px
}